@import "tailwindcss";

@plugin "./custom-icon";


@theme {
  --color-primary: #273f75;
  --color-text-white: #ffffffd9;
  --color-text-disabled: #ffffff40;
}

@variant dark (&:where(.dark, .dark *));
