@import "tailwindcss";

@plugin "./custom-icon";

body {
  @font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}


@theme {
  --color-primary: #273f75;
  --color-text-white: #ffffffd9;
  --color-text-disabled: #ffffff40;
  --color-text-desc: #00000073;
}

@variant dark (&:where(.dark, .dark *));
